@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Academy Gurashi </h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Academy Gurashi</h2>
        <p>
            Academy Gurashi is a ...
        </p>
    </div>
    <div class="col-md-4">
        <h2>Course(s) Calendar</h2>
        <p>Gurashi calendar for teachers and students</p>
        <p><a class="btn btn-default" href="">See the link &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed courses.</p>
        <p><a class="btn btn-default" href="">Download &raquo;</a></p>
    </div>
</div>
